/temp/*
/test_data/image/*
/dev/*
__pycache__/*
*.pyc
.env
bounding_box.py
analyze_labels.ipynb
model/craft_mlt_25k.pth
model/latin_g2.pth
static/output_img.png
build/*
dist/*
opesevn/*
build/opes_ocr/*
build/opes_ocr/Analysis-00.toc
build/opes_ocr/opes_ocr.pkg
build/opes_ocr/PYZ-00.pyz
build/opes_ocr/PYZ-00.toc
build/opes_ocr/warn-opes_ocr.txt
build/opes_ocr/xref-opes_ocr.html
opesenv/Lib/*
opesenv/Scripts/*
opesenv/pip.ini
opesenv/pyvenv.cfg
requirements1.txt
output/app.exe
test_data/pdf_files/3.pdf
test_data/pdf_files/6.pdf
test_data/pdf_files/7.pdf
test_data/pdf_files/7th.pdf
test_data/pdf_files/8.pdf
test_data/pdf_files/10.pdf
test_data/pdf_files/11.pdf
test_data/pdf_files/12.pdf
test_data/pdf_files/13.pdf
test_data/pdf_files/14.pdf
test_data/pdf_files/15.pdf
test_data/pdf_files/16.pdf
test_data/pdf_files/17.pdf
test_data/pdf_files/18.pdf
test_data/pdf_files/19.pdf
test_data/pdf_files/20.pdf
test_data/pdf_files/21.pdf
test_data/pdf_files/22.pdf
test_data/pdf_files/23.pdf
test_data/pdf_files/24.pdf
test_data/pdf_files/25.pdf
test_data/pdf_files/26.pdf
test_data/pdf_files/27.pdf
test_data/pdf_files/28.pdf
test_data/pdf_files/29.pdf
test_data/pdf_files/30.pdf
test_data/pdf_files/31.pdf
test_data/pdf_files/32.pdf
test_data/pdf_files/33.pdf
test_data/pdf_files/34.pdf
test_data/pdf_files/35.pdf
test_data/pdf_files/36.pdf
test_data/pdf_files/37.pdf
test_data/pdf_files/38.pdf
test_data/pdf_files/39.pdf
test_data/pdf_files/40.pdf
test_data/pdf_files/41.pdf
test_data/pdf_files/42.pdf
test_data/pdf_files/43.pdf
test_data/pdf_files/44.pdf
test_data/pdf_files/46.pdf
test_data/pdf_files/47.pdf
test_data/pdf_files/451.pdf
test_data/pdf_files/452.pdf
test_data/pdf_files/pdf_files.zip
test_data/text_label/file25_page2.txt
